@use "/src/sass/base/variables.scss" as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

::selection {
  background-color: $orange;
}

.divider {
  margin: 0 auto;
  margin-top: 15px;
  width: 60px;
  height: 3px;
  background-color: $orange;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #31b0dd;
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}

.container {
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 520px;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 920px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
