@use "/src/sass/base/variables.scss" as *;

@mixin title {
  position: relative;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  color: $black;
}

@mixin circle {
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    background-color: $orange;
    border-radius: 100%;
    z-index: -1;
  }
}

@mixin menu__circle {
  ::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: -35px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: 1px solid $black;
  }
}
