// libs
@use "/src/sass/libs/modern-normalize.min.css";
// base
@use "/src/sass/base/basic.scss";
@use "/src/sass/base/variables.scss";
@use "/src/sass/base/mixins.scss";
// ui
@use "/src/sass/ui/titles.scss";
@use "/src/sass/ui/buttons.scss";
@use "/src/sass/ui/sidepanel.scss";
@use "/src/sass/ui/hamburger.scss";
// sections
@use "/src/sass/blocks/promo.scss";
@use "/src/sass/blocks/menu.scss";
@use "/src/sass/blocks/about.scss";
@use "/src/sass/blocks/resume.scss";
@use "/src/sass/blocks/skills.scss";
@use "/src/sass/blocks/portfolio.scss";
