@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;
.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: -100%;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  transition: 0.9s all;

  &__block {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: $orange;
    padding: 0 25px 50px 0px;
    z-index: 100;
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }

  &__nav {
    margin-top: 140px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 55px;
    row-gap: 15px;
  }

  &__item {
    position: relative;
    @include menu__circle;
    cursor: pointer;
    &:hover {
      ::before {
        background-color: #fff;
        border: none;
        transition: 0.6s;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
  }

  &__social {
    display: flex;
    column-gap: 15px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__logo {
    &:hover {
      svg path {
        fill: #fff;
        transition: all 0.6s;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    z-index: 10;
  }

  &_active {
    visibility: visible;
    opacity: 1;
    left: 0;
  }
}
