.portfolio {
  padding-top: 40px;

  &__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template: 280px / 280px;
    grid-auto-rows: 280px;
    row-gap: 20px;
    justify-content: center;
  }

  &__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(2, 280px);
      column-gap: 50px;
    }
  }
}

@media screen and (min-width: 992px) {
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(3, 280px);
      column-gap: 20px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 125px;
    &__wrapper {
      grid-template-columns: repeat(4, 280px);
      gap: 5px;

      .vertical {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
      }

      .horizontal {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
      }
    }
  }
}
