@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.price {
  padding-top: 40px;
  .divider {
    margin-top: 20px;
  }

  &__wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: 62px;
    justify-content: center;
    row-gap: 10px;
    padding-left: 25px;
  }
  &__item {
    position: relative;
    @include huy;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(21px, auto) 1fr;
    grid-auto-rows: 62px;
    row-gap: 6px;
    &::before {
      top: 3px;
      left: -25px;
      width: 15px;
      height: 15px;
    }
    &-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-auto-rows: 1fr;
      justify-content: space-between;
    }
    &-title {
      text-align: left;
    }

    &-num {
      text-align: right;
    }

    &-descr {
      font-weight: 500;
      font-size: 12px;
      color: $black;
      line-height: 140%;
    }
  }
}

@media screen and (min-width: 768px) {
  .price {
    .divider {
      margin-top: 30px;
    }
    &__wrapper {
      margin-top: 40px;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 85px;
    }

    &__item {
      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 5;
      }

      &:nth-child(4) {
        order: 2;
      }

      &:nth-child(5) {
        order: 4;
      }

      &:nth-child(6) {
        order: 6;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .price {
    &__wrapper {
      grid-template-columns: repeat(2, 365px);
      justify-content: space-between;
      //   column-gap: 120px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .price {
    &__wrapper {
      row-gap: 15px;
      padding: 0 50px;
      //   grid-template-rows: 44px;
    }
  }
}
