@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.promo {
  position: relative;
  padding-top: 205px;
  min-height: 100vh;
  background: url("/src/img/mobile_bg.jpg") center center / cover no-repeat;

  //   @include circle;

  &__title {
    width: 290px;
    text-align: left;
    margin-top: 10px;
  }

  &__subtitle {
    position: relative;
    @include circle;
    text-align: left;
    padding-left: 10px;
  }

  &__btns {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-top: 30px;
  }

  &__link {
    text-decoration: none;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 576px) {
  .promo {
    background-image: url("/src/img/main_bg.jpg");
  }
}
