@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.resume {
  padding-top: 45px;

  &__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 40px;
  }

  &__about {
    position: relative;
    @include huy;
    text-align: left;
    padding-left: 50px;

    &::before {
      top: 52%;
      transform: translateY(-52%);
      left: -1px;
      width: 15px;
      height: 15px;
      z-index: 2;
    }
  }

  &__tree {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    margin-top: 45px;
    list-style-type: none;
    padding-left: 0;
  }

  &__branch {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -52.5px;
      left: 6px;
      height: calc(100% + 52.5px);
      width: 1px;
      background-color: $black;
      z-index: 1;
    }
  }

  &__item {
    position: relative;
    @include huy;
    &::after {
      content: "";
      position: absolute;
      top: 17.78px;
      left: 7px;
      background-color: $black;
      height: 1px;
      width: 42px;
      z-index: -2;
    }

    &::before {
      left: 43px;
    }
    &-img {
      position: absolute;
      top: 14px;
      left: 60px;
      max-width: 25px;
    }
    &-education {
      padding-left: 99px;
    }
    &-university {
      text-align: left;
    }
    &-destination {
      position: absolute;
      font-weight: 500;
      font-size: 12px;
      color: $black;
      line-height: 140%;
    }
    &-text {
      margin-top: 40px;
      padding-left: 43px;
      font-weight: 500;
      font-size: 12px;
      color: $black;
      line-height: 140%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .resume {
    padding-top: 125px;

    &__wrapper {
      margin-top: 60px;
      padding: 0 77px;
      grid-template-columns: repeat(2, 425px);
      column-gap: 136px;
    }

    &__tree {
      row-gap: 45px;
    }

    .divider {
      margin-top: 25px;
    }
  }
}
