@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.skills {
  padding-top: 40px;

  &__wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  &__item {
    height: 270px;
    width: 270px;
    padding: 30px 30px 25px 30px;
    border: 1px solid $black;
    background: rgba(196, 196, 196, 0);

    &-img {
      max-width: 162px;
    }

    &-title {
      margin-top: 20px;
      text-align: left;
    }

    &_jquery {
      padding-top: 45px;
    }

    &_mongodb {
      padding-top: 40px;
    }
  }

  &__text {
    width: 211px;
    line-height: 140%;
    margin-top: 15px;
    font-weight: 500;
    font-size: 12px;
    color: $black;
  }

  &__progress {
    margin-top: 40px;
    display: grid;
    grid-template-columns: minmax(270px, 300px);
    grid-template-rows: repeat(auto-fill, 70px);
    justify-content: center;
    row-gap: 40px;

    &-title {
      position: relative;
      padding-left: 14px;
      &::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        height: 36px;
        width: 36px;
        background-color: $orange;
        border-radius: 100%;
        z-index: -1;
      }
    }

    &-top {
      padding-top: 8px;
      display: flex;
      justify-content: space-between;
    }

    &-bar,
    &-fill {
      margin-top: 27px;
      width: 100%;
      height: 12px;
      border-radius: 4px;
      background-color: #e8e4de;
    }
    &-fill {
      background-color: $orange;
    }
  }
}

@media screen and (min-width: 768px) {
  .skills {
    &__wrapper {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__progress {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 115px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    padding-top: 120px;
    &__title {
      margin-top: 6px;
    }
    &__wrapper {
      margin-top: 60px;
      padding: 0 10px;
      gap: 13px;
      justify-content: flex-start;
    }

    .divider {
      margin-top: 25px;
    }

    &__progress {
      margin-top: 120px;
      grid-template-columns: repeat(3, minmax(300px, 350px));
      column-gap: 45px;
      row-gap: 30px;
    }
  }
}
