.btn {
  max-width: 175px;
  min-height: 45px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #ffa501;
  border: none;
}
