@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.title {
  @include title;

  &_fz48 {
    font-size: 48px;
    line-height: 125%;
  }

  &_fz36 {
    font-size: 36px;
    line-height: 167%;
  }

  &_fz26 {
    font-size: 26px;
  }

  &_fz24 {
    font-size: 24px;
  }

  &_fz20 {
    font-size: 20px;
  }

  &_fz16 {
    font-size: 16px;
  }

  &_fz14 {
    font-size: 14px;
  }
}
