@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.title {
  @include title;

  &_fz48 {
    font-size: 48px;
    line-height: 125%;
  }

  &_fz36 {
    font-size: 36px;
    line-height: 167%;
  }

  &_fz26 {
    font-size: 26px;
  }

  &_fz24 {
    font-size: 24px;
  }

  &_fz20 {
    font-size: 20px;
  }

  &_fz16 {
    font-size: 16px;
  }

  &_fz14 {
    font-size: 14px;
  }

  &__section-title {
    margin-top: 25px;
  }

  &__section-subtitle {
    position: relative;
    @include huy;
    top: 6px;
    &::before {
      top: -6px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (min-width: 1200px) {
  .title {
    &__section-title {
      margin-top: 6px;
    }
    &_fz24 {
      font-size: 36px;
      line-height: 167%;
    }
  }
}
